<a href="/"><h1 class="btn btn-warning" type="button" id="title">Goal Patrol</h1></a>

<!-- Name & Settings Dropdown Menu -->
<div class="dropdown" id="dropdown-icon">
  <h2 class="btn btn-default dropdown-toggle" 
      id="name-icon" data-toggle="dropdown">
      Kenny
      <span class="caret"></span>
  </h2>
  <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/history">History</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/help">Help</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/index">Logout</a>
    </li>                   
  </ul>        
</div>