 {{> tracking_code_script}}

<a href="/"><h1 class="a_version_home_click" id="title">Goal Patrol</h1> </a>
<!-- Name & Settings Dropdown Menu -->
<div class="dropdown pull-right" id="dropdown-icon">
  <h3 class="btn btn-default dropdown-toggle desktop-change" 
      id="name-icon" data-toggle="dropdown" style="font-size: 2rem">
      Hi,
      {{#users}} 
      {{name}}
      {{/users}}
      <span class="caret"></span>
  </h3>

  <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
    <!--<li role="presentation">
      <a role="menuitem" tabindex="-1" href="/history">History</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
    </li>
    <li role="presentation" class="divider"></li>-->
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/help">Help</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a id="logout" role="menuitem" tabindex="-1" style="cursor: pointer">Logout</a>
    </li>                   
  </ul>        
</div>

<div class="dropdown pull-right" id="dropdown-icon-mobile" style="display: none">
  <h3 class="btn btn-default dropdown-toggle glyphicon glyphicon glyphicon-menu-hamburger mobile-change" id="name-icon-mobile" data-toggle="dropdown">
  </h3>
  <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon-mobile" id="name-menu-mobile">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="/help">Help</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a id="logout" role="menuitem" tabindex="-1" style="cursor: pointer">Logout</a>
    </li>                   
  </ul>        
</div>

<!--
  <a href="/"><h3 class="btn btn-default glyphicon glyphicon-home" style="float: right"></h3></a>
-->