<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Goal Giving</title>
    <link href="GoalGiving.css" rel="stylesheet">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>

  </head>

  <body>
  	<h2>* Goal Giving *</h2>


<div class="container">
    <section ng-app="myApp" ng-controller="TabController as tab">
        <ul class="nav nav-tabs">
            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">My Status</a></li>
            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Your Partner's Status</a></li>
            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Account Setting</a></li>
        </ul> 

        <div ng-show="tab.isSet(1)">
             <div id = "BobTab" >
             <div id = "BobPic" >
             <img src="garfield.gif" width="108" height="94" alt="Planets" usemap="#planetmap">
             <br>Bob's Pic
             </div>
             <h1>Bob's Goal is ..... <br> <div id = "BobGoal" > Working out at RIMAC Twice a Week! </div> </h1>
             <p> blah blah </p>
            </div>
        </div>

        <div ng-show="tab.isSet(2)">
            <div id = "JennyTab" >
            <div id = "JennyPic" >
            <img src="garfield.gif" width="108" height="94" alt="Planets" usemap="#planetmap">
            <br>Jenny's Pic
            </div>
            <h1>Jenny's Goal is ..... <br> <div id = "JennyGoal" > Studying Library for 2 Hours a Day! </di> </h1>
            <p> blah blah </p>
            
    </div>

        </div>
        <div ng-show="tab.isSet(3)">
             <h4>This is Account Setting..?</h4>
        </div>
    </section>  


</div>

<footer id="foot01"></footer>
    <script src="js/Script.js"></script>


  </body>

</html>
