<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Goal Giving</title>
    <link href="css1.css" rel="stylesheet">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/Script.js"></script>

  </head>

  <body>
  	<div id="title">Goal Patrol</div>

<div class="container">
    <section ng-app="myApp" ng-controller="TabController as tab">
        <ul class="tab-container">
            <li class="tab" id="tab1" ng-class="{active:tab.isSet(1)}">
            	<a href ng-click="tab.setTab(1)"><p>Home</p></a>
            </li>
            <li class="tab" id="tab2" ng-class="{active:tab.isSet(2)}">
            	<a href ng-click="tab.setTab(2)"><p>Jenny</p></a>
            </li>
            <li class="tab" id="tab3" ng-class="{active:tab.isSet(3)}">
            	<a href ng-click="tab.setTab(3)"><p>Mary</p></a>
            </li>
        </ul> 

        <div ng-show="tab.isSet(1)">
        	<p>
	        	You have 2 goals: <br><br>

	        	<ol>
	        		<li><a href ng-click="tab.setTab(2)">1. Jenny: Lift three times a day - (53%)</a></li><br>
	        		<li><a href ng-click="tab.setTab(3)">2. Mary: Eat only three meals a day - (97%)</a></li>
	        	</ol>
        	</p>
        </div>

        <div ng-show="tab.isSet(2)">
         Show Mary
        </div>

        <!-- <div ng-show="tab.isSet(3)">
             <h4>This is Account Setting..?</h4>
        </div> -->
    </section>  


</div>

  </body>

</html>
