<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Create Account</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/GoalPatrolScript.js"></script>


    <script>
    $(function() {
      $('#create-form').submit(function(evt) {
        evt.preventDefault();

        //Get values
        var name = $('#personname')[0].value;
        var email = $('#personemail')[0].value;
        var password = $('#personpassword')[0].value;
        var passwordConfirmation = $('#personpasswordconf')[0].value;

        var userinfo = {
          'name' : name,
          'email' : email,
          'password' : password
        };

        //Convert to JSON style
        userinfo = JSON.stringify(userinfo);

        insertUserInfo(userinfo);
      });

      function insertUserInfo(data) {
        $.ajax({
          url: "/insertUserInfo/",
          method: "POST",
          data: data,
          contentType: "application/json",
          processdata: true,
          success: function(result) {
            alert("Account created.");
            window.location.href='/sendgoal';
          },
          error: function(result) {
            alert("Error, account not created.")
            window.location.href='/createaccount';
          }
        });        
      }

    });
    </script>
  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
    </div>

    <br><!--Extra spacing-->

    <!-- Goal Giving -->
    <div class= "container">

      <h2>New User</h2>

      <br>

      <form role="form" id="create-form">
        <div class="row">
            <div class="form-group">
                <input type="text" id="personname" class="form-control input-lg" placeholder="Name">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="email" id="personemail" class="form-control input-lg" placeholder="Email">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="password" id="personpassword" class="form-control input-lg" placeholder="Password">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="password" id="personpasswordconf" class="form-control input-lg" placeholder="Confirm Password">
            </div>
        </div>
        <h2><button class="btn btn-info btn-block" type="submit">Create Account </button></h2>
      </form>
    </div>

  </body>

</html>
