<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      <h1 id="title">Goal Patrol</h1>

      <!-- Name & Settings Dropdown Menu -->
     

    <br> <!--Extra spacing-->
    <br>
    <br>

    <div class= "container">
    <button class="btn btn-xs" onclick="window.location.href='/index'"><span class="glyphicon glyphicon-arrow-left"> </span> Back </a>
    </button>
    <button class="btn btn-xs" onclick="window.location.href='/sendgoal'"><span class="glyphicon glyphicon-arrow-left"> </span> Next </a>
    </button>
    <h1>Create Account</h1>
    </div>




  </body>

</html>
