<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Set Goal Details</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/jquery.timepicker.min.css" rel="stylesheet">   
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/GoalPatrolScript.js"></script>

    <style>
    /* This is an id in JQuery library. */
    #ui-datepicker-div {
      width: 70%;
    }

    /* Library class as well */
    .ui-timepicker-wrapper {
      min-width: 250px;
      width: 40%;
      padding-left: 10px;
    }
    </style>

    <script>
    $(function() {
      $("#date").datepicker({
        minDate: "+0d",
        maxDate: "+1w"
      });

      $('.time').timepicker({ 
        'forceRoundTime': true,
        'step': 15 
      });

      function stringToAscii(s)
      {
        var ascii="";
        if(s.length>0)
          for(i=0; i<s.length; i++)
          {
            var c = ""+s.charCodeAt(i);
            while(c.length < 3)
             c = "0"+c;
            ascii += c;
          }
        return(ascii);
      }

      /* Converts user input time string into 24 hour time */
      function formatTimestring(s) {
        if(s == "") return;

        var time = s;
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/(am|pm)/)[1];
        if(AMPM == "pm" && hours<12) hours = hours+12;
        if(AMPM == "am" && hours==12) hours = hours-12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if(hours<10) sHours = "0" + sHours;
        if(minutes<10) sMinutes = "0" + sMinutes;
        return sHours + ":" + sMinutes;
      }

      function formatDatestring(s) {
        if(s == "") return;

        var b = s.split(/[\/:]/);
        return b[2] + "-" + b[0] + "-" + b[1] + 'T';
      }

      $('#calendar-form').submit(function(evt) {
        evt.preventDefault();

        //Get values
        var eventTitle = $('#eventtitle')[0].value;
        var location = $('#location')[0].value;
        var date = $('#date')[0].value;
        var starttime = $('#starttime')[0].value;
        var endtime = $('#endtime')[0].value;
        var notes = $('#notes')[0].value;

        //Convert time
        var start = formatDatestring(date) + formatTimestring(starttime) + ":" + "00";
        var end = formatDatestring(date) + formatTimestring(endtime) + ":" + "00";

        var dateArr = date.split(/[\/:]/);
        var titleFormatted = stringToAscii(eventTitle.replace(/ /g, ''));
        var uniqueId = titleFormatted + dateArr[2] + dateArr[0] + dateArr[1];

        var calendarEvent = {
          'id': uniqueId,
          'summary': eventTitle,
          'location': location,
          'date': date,
          'start': {
            'dateTime': start,
            'timeZone': 'America/Los_Angeles'
          },
          'end': {
            'dateTime': end,
            'timeZone': 'America/Los_Angeles'
          },
          'description': notes,
          'reminders': {
            'useDefault': false,
            'overrides': [
              {
                'method': 'email',
                'minutes': 0
              },
              {
                'method': 'popup',
                'minutes': 0
              }
            ]
          }
        };

        //Convert to JSON style
        calendarEvent = JSON.stringify(calendarEvent);

        createEvent(calendarEvent);

        //$.post('/calendarId/add', calendarEvent, showResult);
      });

      function createEvent(calendarEvent) {
        $.ajax({
          url: "/addToCalendar",
          method: "POST",
          data: calendarEvent,
          contentType: "application/json",
          processdata: true,
          crossDomain: true,
          success: function(result) {
            alert("Event created successfully! Check your Google Calendar to view it.");
          },
          error: function(result) {
            alert("Event not saved. Check again.")
          }
        });        
      }

    });
    </script>

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/"><h1 id="title">Goal Patrol</h1></a>

      <!-- Name & Settings Dropdown Menu -->
      <div class="dropdown" id="dropdown-icon">
        <h2 class="btn btn-default dropdown-toggle" 
            id="name-icon" data-toggle="dropdown">
            Kenny
            <span class="caret"></span>
        </h2>
        <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/history">History</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/help">Help</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index">Logout</a>
          </li>                   
        </ul>        
      </div>
    </div>
    
    <!-- Form -->
    <div class= "container">

      <h2>You've accepted the goal, now think of when you will taken action toward the goal.</h2>

      <br>

      <form role="form" id="calendar-form">
        <div class="row">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="eventtitle" placeholder="Event Title">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="location" placeholder="Location">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="datetime" id="date" class="form-control input-lg" placeholder="Date">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="datetime" id="starttime" class="form-control input-lg time" placeholder="Start Time">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="datetime" id="endtime" class="form-control input-lg time" 
            placeholder="End Time">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <textarea type="datetime" id="notes" class="form-control" rows="5" style="resize: none;" placeholder="Notes"></textarea>
          </div>
        </div>

        <h2><button class="btn btn-info btn-block" type="submit">Add to Calendar</button></h2>
      </form>
    </div>

    <br><br>

    <div class="container">
      <p>When you're ready, set a goal for your partner.</p>
      <h2><button class="btn btn-info btn-block" onclick="window.location.href='/setgoal'">Next</button></h2>  
    </div>

  </body>

</html>
