<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      <h1 id="title">Goal Patrol</h1>

      <!-- Name & Settings Dropdown Menu -->
      <div class="dropdown" id="dropdown-icon">
        <h2 class="btn btn-default dropdown-toggle" 
            id="name-icon" data-toggle="dropdown">
            Bob
            <span class="caret"></span>
        </h2>
        <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Settings</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Help</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Logout</a>
          </li>                   
        </ul>        
      </div> 
  	</div>

    <br><br> <!--Extra spacing-->

    <!-- Goal Requests -->
    <div class="goalrequest-container container ">
    <h3>New Goal Request!</h3>
    <p>From: Jenny<br>
       Goal: Go to the gym. 1 hours 5 times a week.<br>
       Complete Date: 02/15/2015
    </p>
    <button class="btn btn-block">Accept</button>
    <button class="btn btn-block">Decline</button>
    </div>


    <!-- Goals -->
    <div class="central-container container">
      <section ng-app="myApp" ng-controller="TabController as tab">
        
        <!-- GOAL HOME PAGE TAB1-->
        <div ng-show="tab.isSet(1)">
          <p>
            <h3>Your Goals</h3> <br>

            <div class="goal-container container">
  	        	<a href ng-click="tab.setTab(2)"> Jenny: Lift three times a day - (53%)</a>
              <br>
  	        	<a href ng-click="tab.setTab(3)"> Mary: Eat only three meals a day - (97%)</a>
            </div>
          </p>
        </div>

        <!-- JENNY'S STUFF -->
        <div ng-show="tab.isSet(2)">
          <p>
            <h3>Jenny's Goal</h3><br>

            <button class="btn btn-xs">
              <a href ng-click="tab.setTab(1)">&lt;- Back</a>
            </button>
            <div class="goal-container container">
          	 Show Jenny's information
            </div>
          </p>
        </div>

        <div ng-show="tab.isSet(3)">
          <p>
            <h3>Mary's Goal</h3><br>
            
            <button class="btn btn-xs">
              <a href ng-click="tab.setTab(1)">&lt;- Back</a>
            </button>
            <div class="goal-container container">
              Show Mary's information
            </div>
          </p>
        </div> 

      </section>  
    </div>

  </body>

</html>
