<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Help</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
    </div>


    <div class= "container">
      <h2 align="center">What is Goal Patrol?</h2>


      <br>

      <p style="text-align: center"><em>Inspire. Improve. Motivate.</em></p>
      <p>Goal Patrol is an application meant to <strong>facilitate communication</strong> between you, your friends, and family members, who are your so-called "goal patrols." By setting goals for each other and monitoring your goal patrols' progress, you and your patrols can <strong>mutually benefit</strong> by giving and receiving motivation. </p>

    </div>

    <br>

    <div style="text-align: center">
        <a role="button" class="btn btn-primary" onclick="window.location.href='/createaccount'" style="width: 150px;">Get Started</a>
    </div>

    <br>

  </body>

</html>
