<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Welcome</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

    <style type="text/css">
      .index-container {
        text-align: center;
        margin-top: 5%;
      }
    </style>

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
    </div>

    <!-- Main Container -->
    <div class="container">
       <div class="jumbotron index-container">
          <h4>Help your friends stay motivated.</h4>
          <h1>Welcome to Goal Patrol!</h1>

          <p>
            <a class="btn btn-primary btn-lg" role="button" href="/createaccount">
             Get Started
            </a>
          </p>

          <p>
            <a href="/login" role="button" class="btn btn-default"> Log In </a>
          </p>
       </div>
    </div>

  </body>

</html>
