<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Welcome</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

    <style type="text/css">
      .index-container {
        text-align: center;
        margin-top: 5%;
      }

            body {
    background-image: url("http://www.eatthedamncake.com/wordpress/wp-content/uploads/2013/07/Mountain-Climbers.jpg");
}

    </style>


  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
    </div>

    <!-- Main Container -->
    <div>
       <div>
          
          <h1 style="color:white; margin-left:2em;">Welcome to Goal Patrol!</h1>
          <p>
          <h1 style="margin-left:2em; color:white" font-weight="bold">Help your friends stay motivated.</h1>
          </p>

          <p>
            <a style="margin-left:5em;" class="btn btn-primary btn-lg" role="button" href="/createaccount">
             Get Started
            </a>
          </p>

           <p>
            <a style="margin-left:5em;" class="btn btn-primary btn-lg" role="button" href="/help">
             Learn More
            </a>
          </p>

          <p>
            <a style="margin-left:6.5em;" href="/login" role="button" class="btn btn-default"> Log In </a>
          </p>
       </div>
    </div>

  </body>

</html>
