<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Welcome</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

    <style type="text/css">
      .index-container {
        text-align: center;
        margin-top: 5%;
      }

      body {
        background-color: #8CBED6;
        background-image: url("/images/index-background.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .btn {
        margin-top: 5px;
      }

      .btn-xlg {
        padding: 18px 28px;
        font-size: 30px; 
        line-height: normal;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
      }

    </style>


  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
      <a href="/login" role="button" class="btn btn-default" style="float: right; margin-top: 22px"> Log In </a>
    </div>

    <!-- Main Container -->
    <div class="container">
      <div class="index-container">
        <br>
        <h1 style="color: white;">Welcome to Goal Patrol!</h1>
        <h1 style="color: white;">Help your friends stay motivated.</h1>
        <a class="btn btn-danger btn-lg" role="button" href="/index-help">Learn More</a><br>
        <a class="btn btn-primary btn-lg" role="button" href="/createaccount">Get Started</a><br>
      </div>
    </div>

    <br>

  </body>

</html>
