<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Log In</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

    <script>
    $(function() {
        $('#login-form').submit(function(evt) {
            evt.preventDefault();

            var email = $('#username')[0].value;
            var password = $('#password')[0].value;
            var partnerEmail;
            var partnerPassword;
            var userNumber;

            if(email == "" || password == "") {
                alert('Empty email or password input.');
                return;
            }

            $.get("/renderJSON", getJSON);

            function getJSON(result) {
                var users = result['users'];
                for(i = 0; i < users.length; i++) {
                    partnerEmail = users[i]['email'];
                    partnerPassword = users[i]['password'];
                    if(email == partnerEmail) {
                        userNumber = i;
                        break;
                    }
                    else {
                        partnerEmail = "0";
                    }
                }
                console.log(password + " " + partnerPassword);
                if(partnerEmail == "0") {
                    alert("Email not found.");
                }
                else if(password != partnerPassword) {
                    alert("Incorrect password.");
                }
                else {
                    var data = {'email' : email };
                    data = JSON.stringify(data);

                    $.ajax({
                        url: "/saveSessionEmail",
                        method: "POST",
                        data: data,
                        contentType: "application/json",
                        processdata: true,
                        success: function(result) {
                          console.log(result);
                          console.log('success insert sent to session');
                        },
                        error: function(result) {
                          console.log("failed insert sent to session");
                        }
                    });

                    window.location.href="/";
                }
            }

        });

    });


/*
    var attempt = 3;
    //login function! used in login.handlebars
    function validate() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    /* TRYING to PARSE it FROM JSON.... DOESN'T WORK!!!!! 
    var json = JSON.parse('../data.json');
    for (var i = 0; i < json.length; i++) {
        var email = json[i];
        var pwd = json[i+2];

        if (email == username && pwd == password) {
            // run your code for processing Mercedes data
            alert ("Login successfullyyyyyyyyyy!");
            window.location = "/"; // Redirecting to other page.
        return false;
        }
         else{
        attempt --;// Decrementing by one.
        alert("You have "+attempt+" attempt left");
        // Disabling fields after 3 attempts.
        if( attempt == 0){
        document.getElementById("username").disabled = true;
        document.getElementById("password").disabled = true;
        document.getElementById("submit").disabled = true;
        return false;
        }
        }
    }
    */

/*
    if ( username == "k3li@ucsd.edu" && password == "kennyli"){
    alert ("Login successfully");
    window.location = "/"; // Redirecting to other page.
    //var currentuserName = "Kenny";
    //doShowCurrentUserName(currentuserName);

    //document.getElementById("demo").innerHTML = currentuserName;
    return false;
    }
    if ( username == "snam@ucsd.edu" && password == "soohyunnam"){
    alert ("Login successfully");
    window.location = "/"; // Redirecting to other page.
    return false;
    }
    if ( username == "a5huang@ucsd.edu" && password == "alexhuang"){
    alert ("Login successfully");
    window.location = "/"; // Redirecting to other page.
    return false;
    }
    if ( username == "gpertica@ucsd.edu" && password == "giulioperticari"){
    alert ("Login successfully");
    window.location = "/"; // Redirecting to other page.
    return false;
    }
     else{
        attempt --;// Decrementing by one.
        alert("You have "+attempt+" attempt left");
        // Disabling fields after 3 attempts.
        if( attempt == 0){
        document.getElementById("username").disabled = true;
        document.getElementById("password").disabled = true;
        document.getElementById("submit").disabled = true;
        return false;
        }
    }

}*/
    </script>


  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <a href="/index"><h1 id="title">Goal Patrol</h1></a>
    </div>

    <br><!--Extra spacing-->

    <div class= "container">
      <h2>Welcome Back!</h2>

      <br>

      <form role="form" id="login-form">
        <div class="row">
            <div class="form-group">
                <input id="username" type="text" class="form-control input-lg" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input id="password" type="password" class="form-control input-lg" placeholder="Password">
            </div>
        </div>
      <br>

      <h2><button class="btn btn-info btn-block" type="submit">Log in</button></h2>
      </form>
    </div>

  </body>

</html>
