<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <h1 id="title">Goal Patrol</h1>


    </div>


      

    <br><br> <!--Extra spacing-->

    <div class= "container">
    <button class="btn btn-xs" onclick="window.location.href='/index'"><span class="glyphicon glyphicon-arrow-left"> </span> Back</a>
    </button>
    </div>

    <!-- Goal Giving -->
    <div class= "container">

      <h2>Welcome Back!</h2>
      <h3>Username</h3>

      <form role="form">
        <div class="row">
            <div class="form-group">
                <!--<label for="code">Name</label>-->
                <input type="text" class="form-control input-lg">
            </div>
        </div>
        </form>

      <h3>

      <h3>Email Address</h3>

      <form role="form">
        <div class="row">
            <div class="form-group">
                <!--<label for="code">Name</label>-->
                <input type="text" class="form-control input-lg">
            </div>
        </div>
        </form>

      <h3>

      <br>

      <div id="sendgoal-icon">
        <h2 class="btn btn-warning" type="button" onclick="window.location.href='/'">Log in</h2>
      </div> 

      
      </section>  
    </div>

  </body>

</html>
