<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Search for a Partner</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
  	<div class="header-container container">
      <h1 id="title">Goal Patrol</h1>

      <!-- Name & Settings Dropdown Menu -->
      <div class="dropdown" id="dropdown-icon">
        <h2 class="btn btn-default dropdown-toggle" 
            id="name-icon" data-toggle="dropdown">
            Bob
            <span class="caret"></span>
        </h2>
        <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/help">Help</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index">Logout</a>
          </li>                   
        </ul>        
      </div>
    </div>

    <br> <!--Extra spacing-->

    <div class= "container">
      <button class="btn btn-xs" onclick="window.location.href='/setgoal'"><span class="glyphicon glyphicon-arrow-left"> </span> Next </a>
      </button>
    </div>

    <br>

    <div class="container">
      <h1>Add a Partner</h1>
      
      <form role="form">
          <div class="row">
              <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Search by Email">
              </div>
          </div>
      </form>

      <div>
        <h2 class="btn btn-info btn-block" type="button" onclick="window.location.href='#'">
          Search
        </h2>
      </div> 
    </div>
  </body>

</html>
