<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Search for a Partner</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

    <script>
    $(function() {

      //Randomly choose patial
      var randomPartial = $('#getPartial').attr('name');
      if(randomPartial == 1) {
        $('#originalPartial').css('display','block');
      }
      else {
        $('#newPartial').css('display', 'block');
      }
        
      var userInfo = "";
      var userEmail = "";

      //User clicks on search
      $('#search-partner').submit(function(evt) {
        evt.preventDefault();

        //Get email from JSON file
        var email = $('#email')[0].value;

        //Just error checking
        if(email == "") {
          alert('Email not entered.');
          return;
        }

        var emailJSON = {
          "email" : email
        };

        emailJSON = JSON.stringify(emailJSON);

        //Ajax GET call to the server.
        $.ajax({
          url: "/getUsers",
          method: "POST",
          data: emailJSON,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            userInfo = info;

            //User not found
            if(info == "NotFound") {

              //Set the tab and show/hide the right sections of the HTML
              angular.element(document.getElementById('bodyid')).scope().tab.setTab('3');
              $('#nopartner-tab').removeClass('ng-hide');
              $('#search-tab').addClass('ng-hide');

              //Render the email address onto the page
              $('#render-email').html(email + " not found. Invite this person?");

              userEmail = email;
            }
            //User founds
            else {

              //Gets the user's details
              var name = info.name;
              var profilepic = info.profilepic;
              email = info.email;

              //Set the tab and show/hide the right sections of the HTML
              angular.element(document.getElementById('bodyid')).scope().tab.setTab('2');
              $('#foundpartner-tab').removeClass('ng-hide');
              $('#search-tab').addClass('ng-hide');

              //Render the user's information onto the page
              $('#profileimg').attr('src',profilepic);
              $('#namecaption').html(name + "  -  " + email);  

              userEmail = email;              
            }
          }
        });
        // end of ajax call  
      });

      //User clicks yes - sends goal
      $('#yes-sendgoal').click(function(evt) {
        evt.preventDefault();

        $.get('/checkAlreadyHaveGoal', afterChecking);

        function afterChecking(data) {
          if(data == "FoundMatch") {
            alert('You cannot send more than 1 goal to a person at a time.');
          }
          else {
            window.location.href = '/setgoal';            
          }
        }
      });

      //User clicks on send email
      $('#send-email').click(function(evt) {
        evt.preventDefault();

        //Get text to email
        var emailText = $('#notes')[0].value;
        var addressToSend = userEmail;

        var emailTextJson = {
          "emailText" : emailText,
          "toAddress" : addressToSend
        };

        emailTextJson = JSON.stringify(emailTextJson);

        //Ajax GET call to the server.
        $.ajax({
          url: "/sendEmail",
          method: "POST",
          data: emailTextJson,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            alert('Email sent! Redirecting to home page...');
            window.location.href = '/';
          }
        });
      });

    });
    </script>
  </head>

  <body id="bodyid" ng-app="myApp" ng-controller="TabController as tab">

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <div name="{{partial}}" id="getPartial" style="display: none"></div>
      <span id="originalPartial" style="display: none;">
        {{> headerOriginal}}
      </span>
      <span id="newPartial" style="display: none;">
        {{> header}}
      </span>
      <div id="mobile-name" style="clear: left; float: left; margin-top: 15px; margin-left: 8px; display: none">
      Hi, {{#users}}{{name}}{{/users}}
      </div>
    </div>

    <br> <!--Extra spacing-->


    <!-- MAIN TAB - SEARCH FOR PARTNER -->
    <div class="container" id="search-tab" ng-show="tab.isSet(1)">
      <h1>Add a Partner</h1>

      <form role="form" id="search-partner">
        <div class="row">
            <div class="form-group">
                <input type="email" id="email" class="form-control input-lg" placeholder="Search by Email">
            </div>
        </div>
        <h2><button class="btn btn-info btn-block" type="submit">
          Search
        </button></h2>
      </form>
    </div>


    <!-- PARTNER FOUND -->
    <div class="container" id="foundpartner-tab" ng-show="tab.isSet(2)">
      <h1>Add a Partner</h1>
      <p>Is this who you are looking for?</p>
      <img id="profileimg" class="avatar-image"></img>
      <p id="namecaption"></p>

      <h2 id="yes-sendgoal" class="btn btn-warning btn-block" type="button">
        Yes
      </h2>
      <h2 class="btn btn-danger btn-block" type="button" 
        onclick="alert('Returing to search page.'); window.location.href='/sendgoal';">
        No
      </h2>

    </div>


    <!-- PARTNER NOT FOUND -->
    <div class="container" id="nopartner-tab" ng-show="tab.isSet(3)">
      <h1>Add a Partner</h1>
      <p id="render-email"></p> <!-- render's email address from javascript code -->

      <form role="form">

        <div class="row">
          <div class="form-group">
            <textarea type="text" id="notes" class="form-control" 
              rows="5" style="resize: none;">
              Please join me in Goal Patrol.
            </textarea>
          </div>
        </div>

        <h6>Note: This will actually send an email. This typically takes about 1 second.</h6>
        <h2 class="btn btn-warning btn-block" type="submit"  id="send-email">
          Send Email
        </h2>
        <h2 class="btn btn-danger btn-block" type="button" 
          onclick="window.location.href='/sendgoal';">
          Cancel
        </h2>

      </form>
    </div>
  </body>

</html>
