<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Set a Goal</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <h1 id="title">Goal Patrol</h1>

      <!-- Name & Settings Dropdown Menu -->
      <div class="dropdown" id="dropdown-icon">
        <h2 class="btn btn-default dropdown-toggle" 
            id="name-icon" data-toggle="dropdown">
            Kenny
            <span class="caret"></span>
        </h2>
        <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/help">Help</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index">Logout</a>
          </li>                   
        </ul>        
      </div>
    </div>


    <br><br> <!--Extra spacing-->

    <div class= "container">
    <button class="btn btn-xs" onclick="window.location.href='/'"><span class="glyphicon glyphicon-arrow-left"> </span> Home</a>
    </button>
    </div>

    <!-- Goal Giving -->
    <div class= "container">

      <h3>Send a goal to: Jenny</h3>

      <form role="form">
        <div class="row">
            <div class="form-group">
                <!--<label for="code">Name</label>-->
                <input type="text" class="form-control input-lg">
            </div>
        </div>
      </form>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          0 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">0</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
        </ul>
      </div>

      hrs 

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          0 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">0</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
        </ul>
      </div>
     
      times a week

      <br><br>

      <h3>
        Add Motivational Messages
        <br><br>

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Text</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Photo</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Video</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">URL Link</button>
        </div>
      </div>

      </h3>

      <!-- Send Goal Button -->
      <div id="sendgoal-icon">
        <h2 class="btn btn-warning" type="button" onclick="window.location.href='/'">Send Goal to Jenny</h2>
      </div> 

    </div>
  </body>

</html>
