<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Set a Goal</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <script>
    function textFunction() {
        var text = prompt("Please enter the message you would like to send");
    }
    </script>

    <script>
    function urlFunction() {
        var URL = prompt("Please enter the URL you would like to send");
    }

    $(function() {

      //Randomly choose patial
      var randomPartial = $('#getPartial').attr('name');
      if(randomPartial == 1) {
        $('#originalPartial').css('display','block');
      }
      else {
        $('#newPartial').css('display', 'block');
      }
      
      var motivations = []; //initialize empty array
      motivations.push("Good job! Keep up the work!");

      $('#sendgoal-button').click(function() {
        var goal = $('#goal-info')[0].value;
        var hours = $('#hours-info')[0].value;
        var times = $('#timesweek-info')[0].value;

        var goalJSON = {
          "goal" : goal,
          "hours" : hours,
          "times" : times,
          "motivations" : motivations
        };

        goalJSON = JSON.stringify(goalJSON);

        //Ajax GET call to the server.
        $.ajax({
          url: "/saveGoal",
          method: "POST",
          data: goalJSON,
          contentType: "application/json",
          processdata: true
        }).done(function(info) {
          if(info.error) {
            alert(info.error); //Alert any errors that were checked in server side
          }
          else {
            alert('Goal sent. Click ok to return to home page.');
            window.location.href='/';
          }
        });

      });

      $('#text-button').click(function() {
        var inspiration = $('#message-info')[0].value;
        if(inspiration != "") {
          motivations.push(inspiration);
          $('#added-info').html("Text added!");
        }
        else {
          $('#added-info').html("Enter an inspiration!");
        }
        $('#added-info').fadeOut(1500, function() {
          $('#added-info').html("");
          $('#added-info').css('display', 'block');
        });
      });

      $('#url-button').click(function() {
        var inspiration = $('#message-info')[0].value;
        if(inspiration != "") {
          motivations.push(inspiration);
          $('#added-info').html("URL Link added!");
        }
        else {
          $('#added-info').html("Enter an inspiration!");
        }

        $('#added-info').fadeOut(1500, function() {
          $('#added-info').html("");
          $('#added-info').css('display', 'block');
        });
      });

    });

    </script>


    <!-- Header: Title & Name -->
    <div class="header-container container">
      <div name="{{partial}}" id="getPartial" style="display: none"></div>
      <span id="originalPartial" style="display: none;">
        {{> headerOriginal}}
      </span>
      <span id="newPartial" style="display: none;">
        {{> header}}
      </span>
      <div id="mobile-name" style="clear: left; float: left; margin-top: 15px; margin-left: 8px; display: none">
      Hi, {{#users}}{{name}}{{/users}}
      </div>
    </div>


    <br><br> <!--Extra spacing-->

    <!-- Goal Giving -->
    <div class= "container">
      {{#goalToUser}}
      <h3>Send a goal to: {{name}}</h3>
      {{/goalToUser}}
      <form role="form" id="setgoal-form">
        <div class="row">
            <div class="form-group">
                <input id="goal-info" type="text" class="form-control input-lg" placeholder="Goal">
            </div>
        </div>

      <select id="hours-info" form="setgoal-form" class="form-control" style="width: 60px; display: inline">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      hours for
      <select id="timesweek-info" form="setgoal-form" class="form-control" style="width: 60px; display: inline">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      times a week

      <br><br>

      <h3>
        Add Motivational Messages
        <br><br>
    <div class="row">
      <div class="form-group">
        <textarea type="text" id="message-info" class="form-control" 
          rows="5" style="resize: none;" placeholder="Type text or URL in here.  To submit, click the button for the type of information you are submitting. Submit ONE motivational text or URL at a time."></textarea>
      </div>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button id="text-button" type="button" class="btn btn-default">Save Text</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" disabled>Save Photo</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" disabled>Save Video</button>
        </div>
        <div class="btn-group" role="group">
          <button id="url-button" type="button" class="btn btn-default">Save Web URL</button>
        </div>
      </div>

      </h3>

      <p id="added-info" style="color: red"></p>
      <!-- Send Goal Button -->
      <div id="sendgoal-icon">
        <h2 id="sendgoal-button" class="btn btn-warning" type="button">Send Goal</h2>
      </div> 
    </div>

    </div>
  </body>

</html>
