<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goal Patrol - Track Progress</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/GoalPatrol.css" rel="stylesheet">
    <script src="js/angular.1.2.26.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/GoalPatrolScript.js"></script>

  </head>

  <body>

    <!-- Header: Title & Name -->
    <div class="header-container container">
      <h1 id="title">Goal Patrol</h1>

      <!-- Name & Settings Dropdown Menu -->
      <div class="dropdown" id="dropdown-icon">
        <h2 class="btn btn-default dropdown-toggle" 
            id="name-icon" data-toggle="dropdown">
            Bob
            <span class="caret"></span>
        </h2>
        <ul class="dropdown-menu" role="menu" aria-labelledby="name-icon" id="name-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/help">Help</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index">Logout</a>
          </li>                   
        </ul>        
      </div>
    </div>

    <br><!--Extra spacing-->

    <div class= "container">
    <button class="btn btn-xs" onclick="window.location.href='/'"><span class="glyphicon glyphicon-arrow-left"> </span> Back</a>
    </button>
    </div>

    <!-- Goal Giving -->
    <div class= "container">

      <h3>Track Progress</h3>

      Progress reports for 
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" 
                data-toggle="dropdown" aria-expanded="false">
          1 week <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">2 weeks</a></li>
          <li><a href="#">1 month</a></li>
          <li><a href="#">2 month</a></li>
          <li><a href="#">All</a></li>
        </ul> 
      </div>

      <div class="container">            
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Completed?</th>
              <th>Overwhelmed?</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Feb 2, 2015</td>
              <td>Yes</td>
              <td>No</td>
              <td><button class="btn btn-xs" onclick="window.location.href='trackprogress'">Modify</button></td>
            </tr>
            <tr>
              <td>Jan 30, 2015</td>
              <td>No</td>
              <td>Yes</td>
              <td><button class="btn btn-xs" onclick="window.location.href='trackprogress'">Modify</button></td>
            </tr>
            <tr>
              <td>Jan 29, 2015</td>
              <td>Yes</td>
              <td>Yes</td>
              <td><button class="btn btn-xs" onclick="window.location.href='trackprogress'">Modify</button></td>
            </tr>
             <tr>
              <td>Jan 29, 2015</td>
              <td>Yes</td>
              <td>Yes</td>
              <td><button class="btn btn-xs" onclick="window.location.href='trackprogress'">Modify</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <!-- Send Goal Button -->
      <div id="sendgoal-icon">
        <h2 class="btn btn-warning" type="button" onclick="alert('Saved!')">Save</h2>
      </div> 
    </div>

  </body>

</html>
