/* Applies to entire page */

* {
	font-family: Calibri;
	font-size: 2.0rem;
	color: black;
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
	text-align: left;
	background: #FFF;
}

/* HOME HEADER */
.header-container {
	width: 100%;
	-height: 10%;
	-border: 2px solid black;
}
#title {
	font-size: 45px;
	font-weight: bold;
	float: left;
}

#dropdown-icon {
	float: right;
}

#dropdown-icon > h2 {
	font-size: 25px;
	font-weight: bold;
}

#dropdown-icon ul li a {
	font-size: 15px;
}


/* HOME GOAL REQUESTS */
.goalrequest-container {
	background: ;
	border: 2px solid black;
	border-radius: 10px;
}

.central-container {
	float: left;
	padding: 10px;
	margin: 10px;
	margin-top: 40px;
	position: relative;
	width: 95%;
	height: 100%;
	-border: 2px solid black;
}

/* GOALS */
.goal-container {
	margin-left: 0; /*Overrides bootstrap's margin-left: auto; */
}
