/* Applies to entire page */

* {
	font-family: Calibri;
	font-size: 2.0rem;
	color: black;
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
	text-align: left;
	background: #FFF;
}

/* HOME HEADER */
.header-container {
	width: 100%;
	-height: 10%;
	-border: 2px solid black;
}
#title {
	font-size: 45px;
	font-weight: bold;
	float: left;
}

#dropdown-icon {
	float: right;
}

#dropdown-icon > h2 {
	font-size: 25px;
	font-weight: bold;
}

#dropdown-icon ul li a {
	font-size: 15px;
}

#sendgoal-icon {
	float: right;
	clear: right;
}


/* HOME GOAL REQUESTS */
.goalrequest-container {
	background: ;
	border: 2px solid black;
	border-radius: 10px;
}

.central-container {
	float: left;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 95%;
	height: 100%;
	-border: 2px solid black;
}

/* GOALS */
.goal-container {
	margin-left: 0; /*Overrides bootstrap's margin-left: auto; */
	padding-left: 0;
}

.individual-goal {
	padding-left: 0;
	margin-top: 30px;
}

.avatar-image {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	border-radius: 10px;
}
.bubble {
    position: relative;
    height: auto;
    padding-top: 8px;
    margin-top: 3px;
    margin-right: auto;
    background: #FAFAF7;
    border: #000000 solid 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 28px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #fafafa transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 27px;
    border-style: solid;
    border-width: 0 16px 16px;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.patrol-info {
	display: inline;
	width: auto;
}
